<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Valley Autos</title>
</head>
<body>
    <h1>Valley Auto and Co.</h1>
        <h2>Welcome to Valley Auto and Co. Valley Ridge's Premier Auto Dealership!</h2>
        <a href="/cars">Browse Our Inventory</a>
</body>
</html>